<!-- your html code here -->
<div class="row bg-light "  style="height: 100%; padding:5rem 0 ;">
    <div class="container w-75 px-4 py-5" id="featured-3">
        <h2 class="pb-2 ">Portfolio</h2>
        <p class="pb-2 ">Donec ulliamcoper nulla non maulus fringilia. Vasribulum is ligula porta felis auismod sempler.  Praesent commodo cursus magna, ver scelerisque nisl consectetur. Fusce dapibus, teilus ac cursus commodo.</p>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <!--col 1-->
          <div class="feature col">
            <!--image-->
            <img src="https://anthim.com/assets/images/general/700x400.gif" class="img-fluid" alt="image 700 x 400">
            <h4 class="text-primary">Project Name</h4>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            
          </div>
          <!--col 2-->
          <div class="feature col">
            <!--image-->
            <img src="https://anthim.com/assets/images/general/700x400.gif" class="img-fluid" alt="image 700 x 400">
            <h4 class="text-primary">Project Name</h4>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            
          </div>
          <!--col 3-->
          <div class="feature col">
            <!--image-->
            <img src="https://anthim.com/assets/images/general/700x400.gif" class="img-fluid" alt="image 700 x 400">
            <h4 class="text-primary">Project Name</h4>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            
          </div>
          
        </div>
      </div>
    </div> 