<!-- your html code here -->
 <div class="row bg-light "  style="height: 100%; padding:5rem 0 ;">
   <div class="container row justify-content-center border-top">
    <div class="col-md-3 ">
        <img class="rounded-circle" alt="image 2" src="/website/assets/img/2.jpg" />
    </div>
    <div class="col-md-6 ">
        <p class="h2">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></p>
        <p>Dunec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis auismod semper. Praesent commodo cursus magna, ver scelerisque nisl consectetur. Fusce dapibus, teilus ac cursus commodo.</p>
    </div>
   </div>
 </div>
